<!doctype html>
{% load static i18n %}
{% url 'home' as home %}
{% url 'gallery' as gallery %}
{% url 'contact' as contact %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'image/favicon.png' %}" type="{% static 'image/png' %}">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %} ">
    <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %} ">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} ">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %} ">
    <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %} ">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %} ">
</head>
<body>
<header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand logo_h" href="/"> <img src="{% static 'image/logo.jpeg' %}" width="125" alt=""></a>
<!--                    <h2>{% trans "Достопримечательности" %}</h2></a>-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item {% if request.path == home  %} active {% endif %}"><a class="nav-link" href="{% url 'home' %}">{% trans "Главная" %}</a></li>
                            {% if request.path == home %}
                            <li class="nav-item"><a class="nav-link" href="#issykkul">{% trans "Иссык-куль" %}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#naryn">{% trans "Нарын" %}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#chui">{% trans "Чуй" %}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#talas">{% trans "Талас" %}</a></li>
                            {% endif %}
                            <li class="nav-item {% if request.path == gallery %} active {% endif %}"><a class="nav-link" href="{% url 'gallery' %}">{% trans "Галерея" %}</a></li>
                            <li class="nav-item {% if request.path == contact %} active {% endif %}"><a class="nav-link" href="{% url 'contact' %}">{% trans "Контакты" %}</a></li>
                            <li>
                               <form class="mt-3" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                    <select name="language">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                                {{ language.name_local }} ({{ language.code }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <input class="mt-2" type="submit" value="{% trans 'Change' %}" />
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
{% block content %}{% endblock content %}
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">{% trans "Достопримечательности" %}</h6>
                    <p>
                        {% blocktrans %}
                            Киргизия – гористая страна в Центральной Азии. Она расположена вдоль Великого шелкового пути –
                        древней торговой дороги между Китаем и Средиземноморьем. В горах Тянь-Шань, которые окружают
                        этот караванный путь и занимают большую часть страны, обитают снежные барсы, рыси и овцы.
                        {% endblocktrans %}
                        </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">{% trans "Меню" %}</h6>
                    <div class="row">
                        <div class="col-4">
                            <ul class="list_style">
                                <li class="nav-item {% if request.path == home  %} active {% endif %}"><a href="{% url 'home' %}">{% trans "Главная" %}</a></li>
                                <li class="nav-item {% if request.path == gallery %} active {% endif %}"><a href="{% url 'gallery' %}">{% trans "Галерея" %}</a></li>
                                <li class="nav-item {% if request.path == contact %} active {% endif %}"><a href="{% url 'contact' %}">{% trans "Контакты" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget instafeed">
                    <h6 class="footer_title">{% trans "фотографии" %}</h6>
                    <ul class="list_style instafeed d-flex flex-wrap">
                        <li><img src="{% static 'image/ik-01.jpg' %}" width="90" alt=""></li>
                        <li><img src="{% static 'image/ik-02.jpg' %}" width="90" alt=""></li>
                        <li><img src="{% static 'image/ik-03.jpg' %}" width="90" alt=""></li>
                        <li><img src="{% static 'image/ik-05.jpg' %}" width="90" alt=""></li>
                        <li><img src="{% static 'image/na-01.jpg' %}" width="90" alt=""></li>
                        <li><img src="{% static 'image/na-02.jpg' %}" width="90" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border_line"></div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0">Copyright 2022</p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================ End FOOTER  =================-->

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
</body>
</html>